<div class="nav-menu" style="position: fixed;">
    <a href="{{ '/' | relative_url }}" class="home-btn" title="Back to Terminal">
        <i class="fas fa-desktop"></i>
    </a>
    <div class="menu-container">
        <i class="fas fa-bars menu-btn" title="Menu"></i>
        <div class="menu-dropdown hidden">
            <a href="{{ '/' | relative_url }}#about" class="menu-link">About me</a>
            <a href="{{ '/' | relative_url }}#projects" class="menu-link">Projects</a>
            <a href="{{ '/' | relative_url }}#blog" class="menu-link">Blog</a>
            <a href="{{ '/' | relative_url }}#contact" class="menu-link">Contact me</a>
        </div>
    </div>
</div>